* {
  box-sizing: border-box;
}

.centerContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh; /* Adjust as needed */
}

.littleben {
  display: flex;
  background-color: rgb(81, 157, 223);
  border-radius: 50%;
  max-width: 30px; /* Adjust size as needed */
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevent the image container from shrinking */
  width: 30%; /* Adjust the width as needed */
  background-color: rgba(40, 74, 88, 0.2);
}
.image img {
  max-width: 50%; /* Ensure the image doesn't exceed the container width */
  max-height: 70%; /* Ensure the image doesn't exceed the container height */
}
.contact {
  display: flex;
  align-items: center;
}

.contactText {
  margin-right: 20px;
}

.linkedin {
  margin-left: 20px;
}

.title {
  font-size: 3em;
  text-align: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(123, 109, 215);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(136, 204, 233);
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(232, 157, 157);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: rgba(239, 217, 181, 0.89);
  position: relative;
  border-radius: 6px;
}
