.contact {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  padding: 20px;
  border-radius: 5px;
}

.label {
  display: block;
  font-weight: bold;
}

.inputfield {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: grabbing;
}

.suc {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure the message is on top */
  font-size: 20px;
  color: #092b09;
}
