@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  color: rgb(80, 68, 98);
}

html,
body {
  min-height: 100%;
}

body {
  background: radial-gradient(
    at top left,
    rgb(179, 179, 255) 0%,
    rgb(255, 153, 153) 100%
  );
  background-repeat: no-repeat;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

.layout {
  max-width: 12900px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: white;
}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}
