@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&display=swap");

.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.title {
  font-size: 4em;
  font-family: "Playfair Display SC";
}
.description {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.littleben {
  display: flex;
  background-color: rgb(81, 157, 223);
  border-radius: 50%;
  max-width: 400px; /* Adjust size as needed */
}

.image {
  display: flex;
  justify-content: center;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
