.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center {
  text-align: center;
  margin: 1rem;
}

.projectlist {
  list-style: none;
  padding: 0;
}

.projectitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.description {
  margin-top: 10px;
}

.videocontainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.videocontainer iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
