.thankyoucontainer {
  background-color: #9999ec;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(242, 239, 242, 0.991);
  text-align: center;
  margin: 2rem auto;
  max-width: 600px;
}

.thankyoucontainer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.thankyoucontainer p {
  font-size: 1.2rem;
}
